/* ESTILOS DE LA PÁGINA WEB */
    /* 1. Tipos de fuente */
    /* 2. Variables */
    /* 3. Estructura Principal */
    /* 4. Header */
    /* 5. Main */
    /* 6. Footer */

/* 1. Tipos de fuente */
/* Inter Font */
@font-face{
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("woff2-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Roboto Font */
@font-face{
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("woff2-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* 2. Variables */
:root{
    /* Fonts */
    --default-font: "Inter";
    --secondary-font: "Roboto";

    --default-font-size: 16px;

    /* Color */
    --default-color: #e9ecf4;
    --red-border: solid red 2px;

    /* Margin */
    --margin-none: 0;

    /* Padding */
    --padding-none: 0;

    /* Medidas */
    --max-width: 100%;
    --max-height: 100%;
}


/* 3. Estructura Principal */
*{
    margin: var(--margin-none);
    padding: var(--padding-none);
    box-sizing: border-box;
}

body{
    color: black;
    background-color: var(--default-color);

    display: flex;
    flex-direction: column;

    font-family: var(--default-font), sans-serif;
    font-size: var(--default-font-size);
}

/* 4. Header */
header{
    position: sticky;
    height: 10vh;

    display: flex;
    align-items: center;
    padding-left: 5vh;

    background: linear-gradient(to right, #4c64d4, #7dc2df, white);

    border: var(--red-border);
}

.h2Header{
    margin-right: 30vw;
    font-weight: 500;
    color: white;
    border: var(--red-border);
}

.spanHeader{
    font-weight: 700;
}

nav{
    border: var(--red-border);
    display: flex;
    height: 10vh;
}

.divInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8vw;
    border: var(--red-border);
}

.divInicio:hover {
    background-color: #a0aeed;
}

.divSobreMi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8vw;
    border: var(--red-border);
}

.divProyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8vw;
    border: var(--red-border);
}

.divContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8vw;
    border: var(--red-border);
}

.navImg{
    width: 4vh;
    height: 4vh;
    margin-bottom: 1vh;
}

.linksNav{
    border: var(--red-border);
    display: inline-flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    height: 2.5vh;
}

.linkInicio{

}

.linkSobreMi{

}

.linkProyectos{

}

.linkContacto{

}



/* 5. Main */
main{
    max-width: var(--max-width);
}

.mainContainer{
    max-width: var(--max-width);
}

h1{
    max-width: var(--max-width);
 }

.h1Span{

}

h2{
    max-width: var(--max-width);
}

.heroSection{
    max-width: var(--max-width);
}

.codeLanguage{
    max-width: var(--max-width);

}

.codeLanguageText{

}

.heroSectionImg{
    aspect-ratio: auto;
    max-width: 10vw;
    width: 10vw;
}

.sobreMi{
    max-width: var(--max-width);
}

.proyectos{
    max-width: var(--max-width);
}

.contacto{
    max-width: var(--max-width);
}

/* 6. Footer */
footer{
    height: 10vh;
    max-width: var(--max-width);
    border: var(--red-border);
}

.footerSocialLinks{

}

.footerImg{

}

.footerCopyright{

}
